.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.item {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #666;
  font-weight: 700;
}

.link:hover {
  color: #333;
  border-bottom: 3px solid #333;
}

.active{
  border-bottom: 3px dotted lightcoral;
}